<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaikai.cable.cable_tem_det">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_bg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="首页">
        </activity>

        <activity
            android:name=".UserActivity"
            android:label="个人中心">
        </activity>

        <activity
            android:name=".SafeActivity"
            android:label="账号与安全">
        </activity>

        <activity
            android:name=".UpdatePWActivity"
            android:label="修改登录密码">
        </activity>
        <activity
            android:name=".NULLDeviceActivity"
            android:label="添加设备">
        </activity>
        <activity
            android:name=".AddDeviceActivity"
            android:label="我的设备">
        </activity>
        <activity
            android:name=".MyDeviceActivity"
            android:label="我的设备">
        </activity>
    </application>

</manifest>
